.context_box {
  width: 100%;
  height: 478px;
  position: absolute;
  top: 0;
  background: rgba(31, 56, 88, 0.40);

  .search {
    width: 1000px;
    height: 100%;
    position: absolute;
    margin-left: -500px;
    top: 0;
    left: 50%;

    .search_box {
      width: 490px;
      height: 296px;
      margin: 91px auto;

      .context_txt1 {
        font-size: 50px;
        color: white;
        font-family: fangsong;
        font-weight: bold;
      }

      .context_txt2 {
        font-size: 34px;
        color: white;
        margin: 0 0 38px;
      }

      .search_input {
        height: 28px;
        width: 368px;
        margin: 10px 0 0 6px;
        padding: 6px 0 6px 6px;
        outline: none;
        border: none;
        border-radius: 3px;
      }

      .search_button {
        width: 90px;
        height: 40px;
        margin: 10px 0 0 10px;
        background-color: #F37327;
        color: white;
        border-radius: 3px;
      }

      .search_keyword {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items:center;
        .search_keyword_hot {
          color: white;
          font-size: 12px;
          padding: 10px;
        }

        .search_keyword_list {
          li {
            width: 40px;
            display: inline-block;
            color: white;
            font-size: 12px;
            .search_a{
              color: white;
            }
            .search_a:hover{
              color: #F37327;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
